
code/frontend/macos/Flutter/GeneratedPluginRegistrant.swift
code/frontend/lib/l10n/intl_en.arb
code/frontend/macos/Flutter/GeneratedPluginRegistrant.swift
code/frontend/pubspec.lock
code/frontend/windows/flutter/generated_plugin_registrant.cc
code/frontend/windows/flutter/generated_plugins.cmake
code/backend/config/firebase-adminsdk-key.json